<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>nearby.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BE042C3D1C2581B0005EC53A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE042C561C2581B1005EC53A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE042C611C2581B1005EC53A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
